@page
@model BobbyPortfolio.Pages.ContactModel
@{
}
 ViewData["Title"] = "Контакти";
}
<h1>Контакти</h1>
<p>Email: bbintev@gmail.com</p>
<p>Телефон: 0899612566</p>
Етър, ул. „Григоровци“ 17, 5309 Габрово