@page
@model ErrorModel
@{
    ViewData["Title"] = "Грешка";
}

<h1 class="text-danger">Грешка</h1>
<h2 class="text-danger">Възникна проблем при обработката на заявката.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>ID на заявката:</strong> <code>@Model.RequestId</code>
    </p>
}