@page
@model BobbyPortfolio.Pages.HobbiesModel
@{
}
   ViewData["Title"] = "Хобита";
}
<h1>Хобита</h1>
<ul>
    <li>Тренирам Теаклондо /li>
    <li>В свободното си време излизам с прятели и карам колело</li>
</ul>