@page
@model BobbyPortfolio.Pages.Index4Model
@{
}
using Microsoft.AspNetCore.Mvc.RazorPages;

namespace BobbyPortfolio.Pages
{
    public class Index4Model : PageModel
    {
        public void OnGet()
        {
        }
    }
}
    ViewData["Title"] = "Проекти";
}

<h1>Проекти</h1>
<ul>
    <li>Проект 1: Уеб приложение за управление на задачи</li>
    <li>Проект 2: Мобилно приложение за следене на спортни активности</li>
</ul>