@page
@model BobbyPortfolio.Pages.Index3Model
@{
}
<h1>Добре дошли в сайта на Боби!</h1>

<!-- Снимка -->
<img src="images/bobi.png" alt="Боби" style="max-width:300px;" />

<!-- Година на раждане -->
<p>Роден през 2009 г.</p>

<!-- Нещо интересно за теб -->
<p>Интересувам се от програмиране, Уча в Др.Никола Василади. Тренирам Теаклондо !</p>
<img src=""images/bobi.png" alt="Боби" style="max-width:300px;" /> alt="Боби" style="max-width:300px;" />