@page
@model BobbyPortfolio.Pages.ProjectsModel
@{
}
}
 ViewData["Title"] = "Проекти";
}
<h1>Проекти</h1>
<ul>
    <li>Проект 1: Уеб приложение за управление на задачи</li>
    <li>Проект 2: Мобилно приложение за следене на спортни активности</li>
</ul>